.App {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    padding: 0 1em;
    background: rgb(19, 19, 71);
    color: #fff;
}

.nav-links {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

.nav-links li ~ li {
    margin-left: 1em;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
